<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="2147483647" />
        <binding name="BillValidServicePortBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="BillValidServicePortBinding1" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="BillValidServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillValidServicePortBinding3" />
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding3" />
        <binding name="BillServicePortBinding4" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BillServicePortBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpBinding_IAppTools" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="http://int.thefactoryhka.com.pe/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="PSE21.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="https://e-factura.sunat.gob.pe/ol-it-wsconsvalidcpe/billValidService" binding="basicHttpBinding" bindingConfiguration="BillValidServicePortBinding" contract="Sunat.billValidService" name="BillServicePort">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>20550728762USERPSE1</wsse:Username>
              <wsse:Password>3M12I0nU23r</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://tools.thefactoryhka.com.pe/AppTools.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IAppTools" contract="Faby4.IAppTools" name="BasicHttpBinding_IAppTools" />
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="SunatBeta.billService" name="BillServicePort1" />
      <endpoint address="http://demoose.thefactoryhka.com.pe:80/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding4" contract="OseBeta.billService" name="BillServicePort2" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- Otros -->
    <add key="RutaEjemplosProcesados" value=".\Procesados\" />
    <add key="RutaCertificado" value=".\LLAMA-PE-CERTIFICADO-DEMO-55555555555.pfx" />
    <add key="ClaveCertificado" value="1234" />
    <!-- Otros -->
    <!--Demo PSE-->
    <add key="Usuario" value="66666666666_INT" />
    <add key="Ruc" value="66666666666" />
    <add key="Clave" value="+Qo+4fPdRLY!" />
    <add key="Usuario2" value="20550728762_INT_3" />
    <add key="Ruc2" value="20550728762" />
    <add key="Clave2" value="RtBjfl76yx" />
    <add key="FactDemo" value="F030" />
    <add key="BolDemo" value="B030" />
    <add key="NCDemo" value="FC30/BC30" />
    <add key="NDDemo" value="FD30/BD30" />
    <add key="GuiaDemo" value="T030" />
    <add key="DaeDemo" value="FA30" />
    <add key="RetDemo" value="R030" />
    <add key="PercDemo" value="P030" />
    <!--Demo PSE-->
    <!--Produccion PSE-->
    <add key="UsuarioPRD" value="66666666666_INT" />
    <add key="RucPRD" value="66666666666" />
    <add key="ClavePRD" value="m;p@KF+?B?Kp" />
    <add key="UsuarioPRD2" value="20550728762_INT_3" />
    <add key="RucPRD2" value="20550728762" />
    <add key="ClavePRD2" value="xxxxxxx" />
    <add key="FactPRD" value="F030" />
    <add key="BolPRD" value="B030" />
    <add key="NCPRD" value="FC30/BC30" />
    <add key="NDPRD" value="FD30/BD30" />
    <add key="GuiaPRD" value="T030" />
    <add key="DaePRD" value="FA30" />
    <add key="RetPRD" value="R030" />
    <add key="PercPRD" value="P030" />
    <!--Produccion PSE-->
    <!--Envio Ose-->
    <add key="UrlOseDemo" value="https://demoose.thefactoryhka.com.pe/ol-ti-itcpfegem/billService" />
    <add key="UsuarioOseDemo" value="55555555555intose" />
    <add key="ClaveOseDemo" value="a,r::6uLQnre" />
    <add key="RucOseDemo" value="55555555555" />
    <add key="UrlOsePrd" value="https://ose.thefactoryhka.com.pe/ol-ti-itcpfegem/billService" />
    <add key="UsuarioOsePrd" value="55555555555intose" />
    <add key="ClaveOsePrd" value="clave" />
    <add key="RucOsePrd" value="66666666666" />
    <!--Envio Ose-->
    <!--Envio Sunat-->
    <add key="UrlSunatDemo" value="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService" />
    <add key="UsuarioSunatDemo" value="55555555555USERPSE1" />
    <add key="ClaveSunatDemo" value="3M12I0nU23r" />
    <add key="RucSunatDemo" value="55555555555" />
    <add key="UrlSunatPrd" value="https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService" />
    <add key="UsuarioSunatPrd" value="usuarioSunat" />
    <add key="ClaveSunatPrd" value="clave" />
    <add key="RucSunatPrd" value="66666666666" />
    <!--Envio Sunat-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <Tools.Properties.Settings>
      <setting name="Tools_Faby3_AppTools" serializeAs="String">
        <value>http://tools.thefactoryhka.com.pe/AppTools.svc</value>
      </setting>
    </Tools.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.1721" newVersion="2.1.2.1721" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>
